In [2]:
# 11.1
import zoo
zoo.hours()

Open 9-5 daily

In [4]:
# 11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [6]:
# 16.1
text = ''' author,book
J R R Tolkien,The Hobbit
Lynne Truss,"Eats, Shoots & Leaves"
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [8]:
# 16.2
import csv
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        print(book)

{' author': 'J R R Tolkien', 'book': 'The Hobbit'}
{' author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [10]:
# 16.3
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books2.csv', 'wt') as outfile:
    outfile.write(text)

In [12]:
# 16.4
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [68]:
# 16.5
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books2.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [70]:
db.commit()

In [74]:
# 16.8
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
results = conn.execute(sql)
for row in results:
    print(row)

AttributeError: 'Engine' object has no attribute 'execute'